.projects{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 160px;
    margin-bottom: 90px;
}
.projectTitle{
    font-size: 32px;
    font-weight: 600;
    margin-left: 10px;
}
.cardContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}